	 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ARTillery</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to 'Detect path', rekognize_detect_path(urls:'http://scontent-b.cdninstagram.com/hphotos-xpa1/t51.2885-15/1597242_648614111912089_1049362413_s.jpg') %>


                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">
                            <%= form_for :search, url: search_path(acc_token: @acc_token) do |f| %>
                                <%= f.text_field :query %>
                                <%= f.submit value="search"%>
                            <% end %>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	


	
	
	<div class="container-fluid">	
		<div class="row">
          <h1 class="page-header">...</h1>
    </div>

    <div class="row">
					
					
					<% if %>
						<% @feed["data"].each do |post| %>
						<div class="imgblock pull-left">
							<%= link_to post["link"] do %>	
								<%= image_tag post["images"]["thumbnail"]["url"] %><% end %>
							<% if post["caption"] %>
								<%= post["caption"]["from"]["full_name"] %>
							<% end %>
                            <input type="checkbox" class="myClass" value="yes" id="answer" name="answer"/>
						</div>
						<% end %>
					    
							<%# else %> 
						<!-- NO FEED DATA! -->
					<% end %>
					
				
		</div>
	</div>